$bg-navbar:#161B22;
$bg-page:#0D1117;
$bg-button:#21262D;
$bg-border:#282C31;
$bg-badge:#343942;
$bg-secondary:#6E7681;
$bg-icon:#8B949E;
$bg-primary:#C2CAD1;
$bg-white:#FFFFFFFF;

$text-primary:#1F6FEB;
$text-low:#0E4429;
$text-medium:#0D743C;
$text-good:#26A641;
$text-full:#39D353;

$font-segoe-400:"Segoe UI Regular";